@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease forwards;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scaleUp {
  0% {
    transform: scale(0.3);
    opacity: 0;
    transform-origin: bottom right;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    transform-origin: bottom right;
  }
}

.animate-scaleUp {
  animation: scaleUp 0.4s ease-out forwards;
}
.scroll-hide::-webkit-scrollbar {
  display: none;
}
.scroll-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}



@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes scroll-reverse {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

.animate-scroll {
  animation: scroll var(--speed) linear infinite;
}

.animate-scroll-reverse {
  animation: scroll-reverse var(--speed) linear infinite;
}
